<h4 class="modal-title pull-left">{{message}}</h4>

<div *ngIf="!submitted">
  <form [formGroup]="form" class="d-flex flex-column" (ngSubmit)="upDate()">
    <label>
      Name
      <input type="text" formControlName="name" class="form-control" id="name">
    </label>

    <label>
      Location
      <input type="text" formControlName="location" class="form-control" id="location">
    </label>
    <div *ngIf="errorMessage('location', 'required')" class="alert alert-danger">
      Coordinates is required.
    </div>
    <div *ngIf="errorMessage('location', 'pattern')" class="alert alert-danger">
      The coordinates format is incorrect
    </div>
    <label>
      Description
      <input type="text" formControlName="description" class="form-control" id="description">
    </label>
    <label>
      URL
      <input type="text" class="form-control" formControlName="url" id="url">
    </label>
    <div *ngIf="errorMessage('url', 'required')" class="alert alert-danger">
      URL is required.
    </div>
    <div *ngIf="errorMessage('url', 'pattern')" class="alert alert-danger">
      The URL format is incorrect
    </div>
    <div class="d-flex justify-content-between mt-2">
      <button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid" id="update">Update</button>
    </div>
  </form>
</div>
<div *ngIf="submitted">
  <h4>You submitted new Moutain successfully!</h4>
</div>

